body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

#container {
  display: flex;
  flex-wrap: wrap;
}

#addNew {
  padding: 1rem;
  width: 5rem;
  background-color: pink;
  border: 0.5rem solid rgb(165, 83, 97);
  color: white;
  text-align: center;
  border-radius: 0.2rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  font-size: 18px;
  transition: 0.3s;
}

#addNew:hover {
  cursor: pointer;
  background-color: rgb(165, 83, 97);
  border: 0.5rem solid pink;
  transition: 0.3s;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.completed {
  background-color: green;
  border: 0.2rem solid rgb(10, 49, 10);
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  cursor: pointer;
}

.uncompleted {
  background-color: rgb(247, 62, 71);
  border: 0.2rem solid rgb(236, 121, 124);
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  cursor: pointer;
}

.none {
  background-color: wheat;
  margin: 0.5rem;
  padding: 1rem;
  border: 3px solid black;
  border-radius: 0.5rem;
}

.completedColor {
  background-color: rgb(187, 245, 140);
  margin: 0.5rem;
  padding: 1rem;
  border: 3px solid black;
  border-radius: 0.5rem;
}

.unCompletedColor {
  background-color: rgb(248, 174, 144);
  margin: 0.5rem;
  padding: 1rem;
  border: 3px solid black;
  border-radius: 0.5rem;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

#newNote {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: rgb(240, 216, 121);
  border-radius: 0.5rem;
  position: absolute;
  top: 25%;
  border: 3px solid black;
  z-index: 2;
  display: none;
}

#addToNotes {
  background-color: rgb(147, 210, 30);
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  font-size: 18px;
  padding: 0.5rem;
  margin: 0.5rem;
}

#cancel {
  background-color: rgb(210, 30, 45);
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  font-size: 18px;
  padding: 0.5rem;
  margin: 0.5rem;
}

#backDrop {
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.5);
  width: 100vw;
  position: absolute;
  display: none;
}
